.jumbotron.home-jumbotron
  .container
    %h1.display-3 Welcome to Home.
.container
  .row
    .col-sm
      %i(class="fa fa-camera-retro" aria-hidden="true")
      %p Share, organize, and distrubute albums and photo's to clients.
    .col-sm
      %i(class="fa fa-folder-open" aria-hidden="true")
      %p some text2
    .col-sm
      %h3 Cool stuff
      %p some text2
