%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
  .container
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to 'Home', root_url, class: "nav-link"
      %li.nav-item= link_to 'Support', support_path, class: "nav-link"
    %ul.navbar-nav
      %li.nav-item= link_to 'Login', support_path, class: "nav-link"
      %li.nav-item= link_to 'Signup', new_user_path, class: "nav-link"
