%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  .container
    %ul.navbar-nav.mr-auto
      %li.nav-item= link_to 'Home', root_url, class: "nav-link"
      %li.nav-item= link_to 'Support', static_pages_support_url, class: "nav-link"
